@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página Principal</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <!--HighChart-->
    <link href="~/lib/bootstrap/dist/css/highcharts.css" rel="stylesheet" />
    <!--Datatables-->
    <link href="~/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/DataTables/DataTables-1.12.1/css/dataTables.semanticui.min.css" rel="stylesheet" />
    <link href="~/DataTables/DataTables-1.12.1/css/dataTables.foundation.min.css" rel="stylesheet" />

    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--JQuery-->
    <script src="~/lib/jquery/dist/jquery-3.6.1.min.js"></script>
    <!--HighChart-->
    <script src="~/lib/jquery/dist/highcharts.js"></script>
    <script src="~/lib/jquery/dist/highcharts-3d.js"></script>
    <script src="~/lib/jquery/dist/highcharts-more.js"></script>
    <script src="~/lib/jquery/dist/exporting.js"></script>
    <script src="~/lib/jquery/dist/offline-exporting.js"></script>
    <!--Rating-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="~/css/star-rating.min.css" rel="stylesheet" />
    <script src="~/js/star-rating.min.js"></script>
    <link href="~/themes/krajee-fas/theme.min.css" rel="stylesheet" />
    <script src="~/themes/krajee-fas/theme.min.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("style", required: false)
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand text-light fw-bold" href="~/Home/Index">ByteBusterTEC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <a class="nav-link text-white" href="#">Nosotros</a>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UsuarioNombre") != null)
                    {
                        
                    }
                    else
                    {
                        <a class="nav-link text-white" href="~/Usuario/Registrar">Regístrate</a>
                    }
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("UsuarioNombre") != null)
                    {
                        <li class="nav-item">
                            <!--Condicion de Login-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button">
                                        @HttpContextAccessor.HttpContext.Session.GetString("UsuarioNombre")
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="~/Usuario/Perfil">Perfil</a></li>
                                    <li><a class="dropdown-item" href="~/EstablecimientosDeSalud/Index">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                      </li>
                        
                    }
                    else
                    {

                        <a class="nav-link text-white" href="~/Login/Login">Login</a>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    <!--Mapa de Google-->
    @RenderSection("scriptsBody", required: false)
  
    <!--DataTables-->
    <script src="~/DataTables/datatables.min.js"></script>
    <!--ResponseModel-->
    <script src="~/lib/jquery/dist/ini.js"></script>
    <script src="~/lib/jquery/dist/jquery.form.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>