@model List<BBT_EstablecimientosDeSalud.ViewModels.EstablecimientoDeSaludViewModel>;
@{
    ViewData["Title"] = "Buscar";
}
<div id="Resultados" class="container bg-light align-self-center">
    <h1 class="align-self-center text-primary fw-bold text-center">RESULTADOS</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@item.estSalud.Imagen" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.estSalud.Nombre</h5>
                        <h6 class="card-title text-black-50">@item.eps.Nombre</h6>
                        <hr />
                        <p class="card-text">@item.estSalud.Descripcion</p>
                        <hr />
                        <p class="card-text">@item.estSalud.Direccion</p>
                        @using (Html.BeginForm("Detalle", "EstablecimientoDeSalud", FormMethod.Post))
                        {
                            @Html.TextBox("EstId", item.estSalud.Id, new { @class = "form-control me-2 bg-light rounded-pill", aria_label = "Buscar", type = "hidden"})
                            <div class="d-flex">
                                <button type="submit" class="btn btn-info">Ver Detalles</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</div>