@model BBT_Plataforma_Establecimientos_De_Salud.ViewModel.EstablecimientoDeSaludViewModel;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Detalle";
}
@section scripts{
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        // Inicializar y añadir el mapa
        function initMap() {
            // La localizacion de Tacna
            const estS = {
                lat: @Html.Raw(Model.estSalud.Latitud.ToString().Replace(',', '.')),
                lng: @Html.Raw(Model.estSalud.Longitud.ToString().Replace(',', '.'))
            };
            // El mapa centrado en Tacna
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: estS,
            });
            // El marcador, posicionado en el establecimiento de Salud
            const marker = new google.maps.Marker({
                position: estS,
                map: map,
            });
        }

        window.initMap = initMap;
    </script>
}
@section style {
    <style>
        #map {
            width: 50%;
            height: 50vh
        }
    </style>
}
@section scriptsBody{
    <!-- Script para llamar a la API de Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbRC-cA8A-wCyTJoPe2wLtOk1_9aPzVCA&callback=initMap&v=weekly"
            defer></script>
}
<div class="container bg-light align-self-center">
    <h1 class="align-self-center text-primary fw-bold text-center">@Model.estSalud.Nombre</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div>
                    <input id="input-21e" value="@Model.TotalValoraciones" type="text" class="rating" data-theme="krajee-fas" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="" disabled>
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model.estSalud.Nombre</h5>
                    <p class="card-text">@Model.estSalud.Descripcion</p>
                    <p class="card-text">@Model.estSalud.Direccion</p>
                </div>
            </div>
        </div>
        <div id="map" class="col-md-4"></div>
    </div>
</div>
@if (HttpContextAccessor.HttpContext.Session.GetString("UsuarioNombre") != null)
{
    
    <div id="comments-section" class="container bg-light align-self-center">
        <h5 class="text-black-50 fw-bold">Agrega tu valoración</h5>
        @using (Html.BeginForm("Valorar", "EstablecimientoDeSalud", FormMethod.Post))
        {
            @Html.TextBox("Valoracion1", null, new { @class = "rating", @type = "number", data_theme = "krajee-fas", data_min = 0, data_max = 5, data_step = 1, data_size = "xs", @title = "" })
            <label for="name-input">@HttpContextAccessor.HttpContext.Session.GetString("UsuarioNombre")</label>
            @Html.TextBox("UsuarioId", HttpContextAccessor.HttpContext.Session.GetString("UsuarioId"), new { type = "hidden"})
            @Html.TextBox("EstablecimientoId", Model.estSalud.Id, new { type = "hidden"})
            @Html.TextArea("Comentario", null, new { @class = "form-control"})
            <br />
            <button type="submit" class="btn btn-info">Agregar Comentario</button>
        }
    </div>
}

<div id="comments-section" class="container bg-light">
    <h5 class="text-black-50 fw-bold">Comentarios</h5>
    @foreach (var items in Model.listValoracion)
    {
        <div id="comentario">
            @items.UsuarioId
            <div>
                <input id="input-21e" value="@items.Valoracion1" type="text" class="rating" data-theme="krajee-fas" data-min=0 data-max=5 data-step=1 data-size="xs" title="" disabled>
            </div>
            @items.Comentario
        </div>
    }
</div>